header{
    text-align: center;
}
body{
 background-color: lightslategray;   
}
ul{
    list-style: none;
}
h2{
    border: 2px solid black;
}
li{
    text-align: center;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: darkblue;
    color: white;
    border: 5px solid black;
    height: 70px;
    width: 32%;
    border-radius: 20px;
    font-size: large;
    width: 300px;

}
a{
    color: white;
    position: static;
    font-size: large;
   
}
