

:root {
    --color-white: white;
}

.text {
    color: var(--color-white);

}

.higher-lower-text {
    color: black;
}



header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.dices {
    padding: 10px;
    column-count: 5;
    column-fill: balance;
}

.headings {
    padding: 10px;
    column-count: 5;
    column-fill: balance;
}

.credits {
    column-count: 5;
    column-fill: balance;
}

.text-center {
    text-align: center;
    color: black
}

.dices-computer-player {
    column-count: 2;
}

.dices-player {
    column-count: 2;
}

.message {
    column-count: 3;
    column-fill: balance;
    font-size: large;
}

.message-box {
    border: 5px solid black;
    background-color: darkblue;
    color: white;

}

.controls {
    padding: 10px;
    column-count: 6;
    column-fill: balance;
}

.dice {
    font-size: 64pt;
}

button {
    width: 100%;
}

body {
    background-color: lightslategray
}

.go-button,.lower-button,.higher-button,.dice-button {
    background-color: darkblue;
    color: white;
    border: 5px solid black;
    height: 70px;
    border-radius: 20px;
    font-size: large;
}

.go-button:hover{
    color: black;
    background-color: white;
}
.lower-button:hover{
    color: black;
    background-color: white;
}
.higher-button:hover{
    color: black;
    background-color: white;
}
.dice-button:hover{
    color: black;
    background-color: white;
}
.rule-button{
    background-color: darkblue;
    color: white;
    border: 5px solid black;
    height: 70px;
    width: 32%;
    border-radius: 20px;
    font-size: large;
}
.rule-link{
    width: 100%;
    color: white;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-button-rules {
    width: 100%;              
    display: flex;            
    justify-content: center;
}